:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.mat-slider-horizontal {
  width: 500px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.text {
  color: white;
}
