<mat-horizontal-stepper linear="true" #stepper>
  <mat-step *ngFor="let q of questions">
    <form>
      <ng-template matStepLabel>{{ q.label }}</ng-template>
      <mat-form-field *ngFor="let f of q.fields" appearance="fill">
        <mat-label>{{ f.label }}</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of f.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperPrevious color="accent">Back</button>
        <button mat-flat-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
